/problema1/Problema_1_Calificaciones/nbproject/private/
/problema2/Problema_2_Profesores/nbproject/private/
/problema2/Problema_2_Profesores/build/
/problema1/Problema_1_cal/nbproject/private/
/problema3/Problema_3_Automotor/nbproject/private/
/problema4/Problema_4_Cheque/nbproject/private/
/problema1/Problema_1_cal/build/
/problema1/Problema_1_cal/dist/
/problema1/Ejecutor_01_04/nbproject/private/
/problema1/Ejecutor_02_04/nbproject/private/
/problema2/Ejecutor_02_04/nbproject/private/
/problema2/Ejecutor_02_04/build/
/problema3/Ejecutor_03_04/nbproject/private/
/problema3/Ejecutor_03_04/build/
/problema4/Ejecutor_04_04/nbproject/private/
/problema4/Ejecutor_04_04/build/
